#customers p {
  margin: var(--app-md-spacing) 0px;
}

#customers-info {
  margin: 0px;
  font-style: italic;
  font-size: 1.25em;
  line-height: 150%;
  font-family: "Georgia", serif;
  padding: 0.5rem;
  color: var(--app-white-color);
}

#customers-info::before {
  content: "“";
  display: inline-block;
  font-size: 3em;
  width: 100%;
  text-align: left;
  position: relative;
  top: 1.5rem;
  color: var(--app-warning-color);
}

#customers cite {
  width: 100%;
  display: inline-block;
  text-align: right;
  margin-top: 1.25rem;
}
