.appContainer {
  margin: 0 auto;
  padding: var(--app-md-spacing);
  overflow: hidden;
}

.h1 {
  width: 100%;
}

.h2 {
  width: 100%;
  margin: var(--app-md-spacing 0px);
}

/* секции с кодом запросов и схемами ответов */
.code {
  margin-top: var(--app-md-spacing);
  display: block;
  font-size: 1.1em;
  background: var(--app-dark-color);
  border-radius: var(--app-md-spacing) var(--app-md-spacing) 0px 0px;
  position: relative;
  max-height: 0px;
  overflow: hidden;
  transition: 0.2s max-height linear;
}

.code.active {
  display: block;
}

/* элементы списков приложения */

.li {
  margin: var(--app-lg-spacing);
  user-select: none;
  font-family: "FiraCode";
  cursor: pointer;
  overflow-wrap: anywhere;
  font-size: 1.2em;
  word-break: break-all;
  letter-spacing: 0.7px;
}

.li > a:hover {
  color: var(--app-success-color);
  transform: scale(1.01);
}

.li > a:visited {
  color: var(--app-success-color);
}

/* параграфы секций */

.section-text {
  font-weight: 400;
  line-height: 140%;
  text-indent: var(--app-sm-spacing);
  margin: var(--app-md-spacing 0px);
}

/* Информационные секции на странице docs.html */

.app-section {
  margin-bottom: 1.75rem;
}

/* контейнер для иконок */

.icon-box {
  padding: var(--app-md-spacing);
  color: var(--app-warning-color);
  border-radius: var(--app-sm-spacing);
  background: var(--app-features-card-bg);
  width: max-content;
}

.burger {
  display: none;
}

.burger .material-icons-round {
  font-size: 2rem;
}
/* секции addEntity, deleteEntity c описанием POST/DELETE запросов */

#addEntity p:first-of-type,
#deleteEntity p:first-of-type {
  border: 2px dotted var(--app-success-color);
  padding: var(--app-md-spacing);
  border-radius: var(--app-sm-spacing);
  text-indent: var(--app-sm-spacing);
  margin: var(--app-md-spacing 0px);
}

/* Секция кнопки назад */

.back {
  padding: 0px var(--app-lg-spacing);
}

.back a {
  width: max-content;
}

.back a:hover {
  transform: scale(1.02);
  color: var(--app-success-color);
}

.white-list {
  padding: 0px var(--app-sm-spacing);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--app-sm-spacing);
}

.white-list .btn {
  font-size: inherit;
  color: var(--app-light-color);
  border: 1px dotted var(--app-danger-color);
  text-transform: none;
  letter-spacing: 1px;
}
