.h1 {
  font-size: 2.25rem;
  text-align: left;
  margin: var(--app-md-spacing) 0px;
}

.h1.docs {
  text-align: center;
}

.description {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem;
}

.description .h1 {
  width: 100%;
}

.description .section-text {
  margin: 0px;
}

.slogan {
  margin: 0px;
  color: var(--app-warning-color);
  position: relative;
  top: -0.85rem;
  font-style: italic;
  font-weight: 300;
  font-size: 1em;
}

.slogan p::before {
  content: "\201C";
}

.slogan p::after {
  content: "\201D";
}
