.description {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem;
}

.description .section-text {
  margin: 0px;
}

.slogan {
  margin: var(--app-lg-spacing) 0px;
  color: var(--app-warning-color);
  font-style: italic;
  font-weight: 300;
  font-size: 1.5em;
  border-left: 4px solid var(--app-darken-color);
  line-height: 140%;
  font-family: "Georgia", serif;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
}
