#documentation .request-card-url.doca {
  margin-bottom: var(--app-lg-spacing);
  font-family: "FiraCode";
  cursor: pointer;
}

#documentation a {
  display: flex;
  align-items: center;
  column-gap: var(--app-md-spacing);
}

