.entities {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border: none;
}

.entities-card {
  border-radius: var(--app-md-spacing);
  text-align: center;
  letter-spacing: 1.5px;
  cursor: pointer;
  width: 31%;
  margin: calc((100% - 93%) / 6);
}

.entities-card .material-icons-round {
  margin-right: var(--app-md-spacing);
  color: var(--app-warning-color);
  font-size: 1.5em;
}

.entities-card-url {
  width: 100%;
  text-align: left;
  margin: var(--app-md-spacing) 0px 0px;
  font-size: 0.8em;
  font-family: "FiraCode";
  text-transform: lowercase;
}
