#examples .request-card-url.doca {
  margin-bottom: var(--app-lg-spacing);
  font-family: "FiraCode";
  cursor: pointer;
}

#examples a {
  display: flex;
  align-items: center;
  column-gap: var(--app-lg-spacing);
}


