.features {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border: none;
}

.features-card {
  width: 31%;
  padding: var(--app-lg-spacing);
  border-radius: var(--app-md-spacing);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  transition: transform 0.25s ease-out;
  height: 275px;
  margin: calc(7% / 6);
  background: var(--app-features-card-bg);
  box-shadow: var(--app-features-card-shadow);
}

.features-card:hover {
  transform: translateY(-0.5rem);
}

.features-card-hr {
  height: 3px;
  width: 50%;
  border: none;
  background-color: var(--app-light-color);
  border-radius: var(--app-sm-spacing);
  opacity: 0.07;
}

.features-card-text {
  margin: var(--app-md-spacing) 0px;
  font-size: 1.1em;
}

.features-card-icon span {
  font-size: 1.25em;
}

.features-card-icon .material-icons-round {
  font-size: 2rem;
}
