.features-card:nth-of-type(1) {
  -webkit-transform: translateX(-40%);
  -ms-transform: translateX(-40%);
  transform: translateX(-40%);
}
.features-card:nth-of-type(2) {
  -webkit-transform: translateX(-40%);
  -ms-transform: translateX(-40%);
  transform: translateX(-40%);
}
.features-card:nth-of-type(3) {
  -webkit-transform: translateX(-40%);
  -ms-transform: translateX(-40%);
  transform: translateX(-40%);
}
.features-card:nth-of-type(4) {
  -webkit-transform: translateX(-40%);
  -ms-transform: translateX(-40%);
  transform: translateX(-40%);
}
.features-card:nth-of-type(5) {
  -webkit-transform: translateX(-40%);
  -ms-transform: translateX(-40%);
  transform: translateX(-40%);
}
.features-card:nth-of-type(6) {
  -webkit-transform: translateX(-40%);
  -ms-transform: translateX(-40%);
  transform: translateX(-40%);
}
.features-card:nth-of-type(7) {
  -webkit-transform: translateX(-40%);
  -ms-transform: translateX(-40%);
  transform: translateX(-40%);
}
.features-card:nth-of-type(8) {
  -webkit-transform: translateX(-40%);
  -ms-transform: translateX(-40%);
  transform: translateX(-40%);
}

.features {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border: none;
}

.features-card {
  width: 31%;
  padding: var(--app-lg-spacing);
  border-radius: var(--app-md-spacing);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  transition: all 0.25s linear;
  height: 275px;
  margin: calc(7% / 6);
  background: var(--app-features-card-bg);
  box-shadow: var(--app-features-card-shadow);
  opacity: 0;
}

.features-card.active {
  opacity: 1;
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
}

.features-card:hover {
  transform: translateY(-0.5rem);
}

.features-card-hr {
  height: 3px;
  width: 50%;
  border: none;
  background-color: var(--app-light-color);
  border-radius: var(--app-sm-spacing);
  opacity: 0.07;
}

.features-card-text {
  margin: var(--app-md-spacing) 0px;
  font-size: 1.1em;
}

.features-card-icon span {
  font-size: 1.25em;
}

.features-card-icon .material-icons-round {
  font-size: 2rem;
}
