.footer {
  background: var(--app-features-card-bg);
  padding: var(--app-lg-spacing);
  border-radius: var(--app-md-spacing) var(--app-md-spacing) 0px 0px;
  position: relative;
  font-size: 1em;
  position: relative;
  z-index: 1;
  color: var(--app-white-color);
  font-weight: 300;
  line-height: 150%;
}

.footer-link {
  display: flex;
  align-items: center;
  column-gap: var(--app-md-spacing);
  width: max-content;
}

.footer-link:hover {
  color: var(--app-warning-color);
}

.footer-link-tasks {
  flex-basis: content;
}

.footer-link-tasks strong {
  font-variant: small-caps;
}

.footer-link-tasks strong::after {
  content: "";
  height: 1px;
  display: block;
  width: 100%;
  background: var(--app-white-color);
  opacity: 0.07;
}

.footer address {
  align-items: center;
  display: flex;
  column-gap: var(--app-sm-spacing);
}

.material-icons-round {
  font-size: 1.5em;
  color: var(--app-warning-color);
}
