.footer {
  background: var(--app-darken-color);
  padding: var(--app-lg-spacing);
  border-radius: var(--app-md-spacing) var(--app-md-spacing) 0px 0px;
  position: relative;
  font-size: 1em;
  position: relative;
  z-index: 5;
}

.footer-link {
  display: flex;
  align-items: center;
  column-gap: var(--app-md-spacing);
  width: max-content;
}

.footer-link:hover {
  color: var(--app-warning-color);
}

.footer address {
  align-items: center;
  display: flex;
  column-gap: var(--app-sm-spacing);
}

.material-icons-round {
  font-size: 1.5em;
  color: var(--app-warning-color);
}
