* {
  box-sizing: border-box;
  padding: 0px;
}

body {
  background-color: var(--app-dark-color);
  min-height: 100vh;
  font-family: "Roboto";
  padding: 1rem;
  color: var(--app-light-color);
  letter-spacing: 1px;
  line-height: 150%;
}

h1,
h2,
h3 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  user-select: none;
  line-height: 140%;
}

h3 {
  text-align: left;
  margin: var(--app-md-spacing) 0px;
}

header {
  margin: var(--app-md-spacing);
}

pre {
  margin: 0px;
  padding: var(--app-md-spacing);
  font-weight: 500;
  line-height: 110%;
  border-radius: var(--app-md-spacing);
  overflow: hidden;
}

code {
  display: inline-block;
  font-weight: 300;
  line-height: 150%;
  font-family: 'FiraCode';
  overflow-y: auto;
  max-height: 900px;
}

pre code {
  width: 100%;
}

p {
  user-select: none;
  margin: var(--app-md-spacing) 0px;
}

dfn {
  font-style: normal;
}

em {
  font-style: normal;
}

blockquote {
  margin: 0.25rem 0px;
  user-select: none;
}

section {
  padding: var(--app-lg-spacing);  
}

ul,
ol {
  list-style-position: inside;  
  line-height: inherit;
  padding: var(--app-lg-spacing);
  margin: 0px;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  transition: all 0.2s linear;
}

button {
  color: inherit;
  font: inherit;
  outline: none;
  border: none;
  letter-spacing: inherit;
  background: none;
}

abbr {
  text-decoration: none;
}
