.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px;
  background: var(--app-advantages-card-bg);
  padding: var(--app-md-spacing);
  border-radius: var(--app-md-spacing);
  position: relative;
}

.header-logo {
  padding: var(--app-sm-spacing);
  display: flex;
  font-size: 1.5em;
  align-items: center;
  gap: var(--app-md-spacing);
  color: var(--app-danger-color);
  letter-spacing: 0.125rem;
  font-weight: 700;
  cursor: pointer;
}

.header-logo .material-icons-round {
  font-size: 2rem;
}

.header-menu {
  display: flex;
  list-style-type: none;
  margin: 0px;
}

.menu-link.active {
  font-weight: 700;
  color: var(--app-danger-color);
}
