.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--app-advantages-card-bg);
  padding: var(--app-md-spacing);
  border-radius: var(--app-md-spacing);
  position: relative;
  margin: 0 0 1.5rem 0;
}

.header-logo {
  padding: var(--app-sm-spacing);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 60px;
  height: 60px;
}

.header-logo img {
  width: 100%;
  height: 100%;
}

.header-menu {
  display: flex;
  list-style-type: none;
  margin: 0px;
}

.header-menu li {
  text-transform: uppercase;
  font-family: inherit;
  letter-spacing: 1px;
}

.menu-link.active {
  font-weight: 700;
  color: var(--app-danger-color);
}
