@media (max-width: 991.98px) {
  body {
    font-size: 14px;
  }

  .burger {
    display: flex;
  }

  nav {
    position: absolute;
    top: 0%;
    right: 0px;
    background: var(--app-features-card-bg);
    z-index: -1;
    opacity: 0;
    transition: all 0.3s ease-out;
    padding: var(--app-xl-spacing);
    border-radius: 0px var(--app-md-spacing) var(--app-md-spacing) 0px;
  }

  .header-menu {
    flex-direction: column;
    padding: var(--app-md-spacing);
    padding: 0px;
  }

  .header-menu .li {
    font-size: 1.25em;
    font-weight: 500;
  }

  .header-menu .li:first-child {
    margin-top: 1rem;
  }

  .header-menu .li::after {
    content: "";
    height: 2px;
    width: 100%;
    background-color: var(--app-light-color);
    display: block;
    margin-top: var(--app-sm-spacing);
    opacity: 0.2;
    border-radius: 2px;
  }

  nav.active {
    opacity: 1;
    z-index: 1;
  }

  .h1 {
    font-size: 1.6rem;
  }

  .app-section {
    padding: 0px var(--app-sm-spacing);
  }

  .features-card {
    width: 47%;
    margin: calc(6% / 4);
    font-size: 1.1em;
  }

  .entities {
    gap: unset;
  }

  .entities-card {
    width: 47%;
    margin: calc(6% / 4);
    padding: 0px;
    justify-self: center;
  }

  .request-card-note {
    display: block;
    padding: 0px;
  }

  .request-card .material-symbols-outlined {
    font-size: 1.25rem;
  }

  .request-card .trggr,
  .request-card .icon-box {
    padding: var(--app-sm-spacing);
  }

  .request-card-note code {
    font-size: 1em;
    position: relative;
    top: 6px;
  }

  .li a {
    width: auto;
  }
}
