@media (max-width: 767.98px) {
  body {
    font-size: 13px;
    padding: 0px;
  }

  .h1 {
    font-size: 1rem;
  }

  .features-card {
    height: 280px;
  }

  ol,
  ul {
    padding: 0px;
  }

  .examples li {
    margin: var(--app-sm-spacing) 0px;
  }

  .documentation li {
    margin: var(--app-sm-spacing) 0px;
  }

  .li {
    word-break: break-all;
    letter-spacing: 0.7px;
  }
}
