.requests {
  border: none;
  margin-bottom: 1.5rem;
}

.request-card {
  padding: var(--app-lg-spacing);
  margin-bottom: var(--app-xl-spacing);
  border-radius: var(--app-md-spacing);
  background: none;
  box-shadow: var(--app-features-card-shadow);
  height: max-content;
}

h3 {
  margin-bottom: 0px;
}

.request-card-info {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: var(--app-lg-spacing) 0px;
  flex-direction: column;
}

.request-card-info .btn {
  cursor: default;
}

.request-card-url {
  display: inline-block;
  width: auto;
  font-weight: 300;
  font-size: 1.2em;
  width: 100%;
  text-shadow: 0.3px 0.3px 1px var(--app-light-color);
  overflow-wrap: anywhere;
}

.request-card-url.doca {
  padding: var(--app-md-spacing);
  background-color: var(--app-success-color);
  border-radius: var(--app-sm-spacing);
}

.request-card-copybar {
  padding: var(--app-md-spacing);
  display: flex;
  font-size: 1em;
  align-items: center;
  border-radius: var(--app-md-spacing) var(--app-md-spacing) 0px 0px;
  cursor: pointer;
  background-color: var(--app-darken-color);
  opacity: 0.8;
  transition: color 0.2s linear;
}

.request-card-copybar .btn {
  border: none;
}

.request-card-copybar:hover {
  color: var(--app-warning-color);
  background: none;
}

.request-card-note {
  opacity: 0.8;
  font-size: 0.95em;
  margin: var(--app-md-spacing 0px);	
}

.request-card-triggers {
  display: flex;
  align-items: center;
}

.request-card-trigger {
  padding: var(--app-md-spacing);
  border: 1.5px dotted var(--app-light-color);
}

.request-card-trigger:nth-child(2n + 1) {
  padding-left: 0px;
  border-left: none;
  border-top: none;
  border-right: none;
}

.request-card-trigger:nth-child(2n) {
  border-right: none;
  border-top: none;
}

.request-card-trigger .btn:hover {
  transform: scale(1.02);
}

.code textarea {
  position: absolute;
  bottom: 0px;
  right: 0px;
  visibility: hidden;
}
