.requests {
  border: none;
}

.request-card {
  padding: var(--app-lg-spacing);
  margin: 0px 0px var(--app-xl-spacing) 0px;
  border-radius: var(--app-md-spacing);
  background: none;
  box-shadow: var(--app-features-card-shadow);
  height: max-content;
  transform: translateX(-30%);
  opacity: 0;
  transition: all 0.25s linear;
}

.request-card.active {
  opacity: 1;
  transform: translateX(0%);
}

h3 {
  margin-bottom: 0px;
}

.request-card-info {
  display: flex;
  align-items: start;
  gap: 1rem;
  padding: var(--app-lg-spacing) 0px;
  flex-direction: column;
}

.request-card-info .btn {
  cursor: default;
}

.request-card-url {
  display: inline-block;
  width: auto;
  font-weight: 300;
  font-size: 1.15em;
  width: 100%;
  text-shadow: 0.3px 0.3px 1px var(--app-light-color);
  word-break: break-all;
  color: var(--app-white-color);
  font-weight: 400;
}

.request-card-url.doca {
  padding: var(--app-md-spacing);
  box-shadow: var(--app-features-card-shadow);
  border-radius: var(--app-sm-spacing);
  display: flex;
}

.request-card-url.doca a {
  width: 100%;
}

.request-card-url.doca a:hover {
  color: var(--app-warning-color);
  transform: scale(1.01);
}

.request-card-copybar {
  padding: var(--app-md-spacing);
  display: flex;
  font-size: 1em;
  align-items: center;
  border-radius: var(--app-md-spacing) var(--app-md-spacing) 0px 0px;
  cursor: pointer;
  background-color: var(--app-darken-color);
  opacity: 0.8;
  transition: color 0.2s linear;
}

.request-card-copybar .btn {
  border: none;
}

.request-card-copybar:hover {
  color: var(--app-warning-color);
  background: none;
}

.request-card-triggers {
  display: flex;
  align-items: center;
}

.request-card-trigger {
  padding: var(--app-md-spacing);
  border: 1.5px dotted var(--app-light-color);
  position: relative;
}

.request-card-trigger:nth-child(1) {
  padding-left: 0px;
  border-left: none;
  border-top: none;
  border-right: none;
}

.request-card-trigger:nth-child(2),
.request-card-trigger:nth-child(3) {
  border-right: none;
  border-top: none;
}

.request-card-trigger .btn:hover {
  transform: scale(1.02);
}

.code textarea {
  position: absolute;
  bottom: 0px;
  right: 0px;
  visibility: hidden;
}
