@media (max-width: 576.98px) {
  body {
    font-size: 13.5px;
    margin: 0px;
    padding: var(--app-sm-spacing);
  }

  .li {
    margin: var(--app-lg-spacing) 0px;
  }

  .appContainer {
    padding: var(--app-sm-spacing) 0px;
  }

  .h1 {
    font-size: 1.1rem;
  }

  .features-card {
    width: 100%;
    height: 220px;
    margin: var(--app-md-spacing) 0px;
  }

  .entities {
    gap: unset;
  }

  .entities-card {
    width: 100%;
    margin: var(--app-md-spacing) 0px;
  }

  .request-card {
    padding: var(--app-md-spacing);
    margin-bottom: calc(var(--app-md-spacing) * 2);
  }

  .request-card-info {
    gap: 0.5rem;
    padding: var(--app-md-spacing) 0px;
  }

  .request-card-copybar {
    padding: var(--app-sm-spacing);
  }

  .request-card-copybar,
  .request-card-copybar button {
    padding: var(--app-sm-spacing);
  }

  .request-card-url.doca {
    padding: 0px;
    font-size: 1em;
  }

  .code {
    font-size: 1em;
  }

  .icon-box,
  .back .btn {
    padding: var(--app-sm-spacing);
  }

  ol,
  ul {
    list-style-type: none;
  }
}
