@media (max-width: 576.98px) {
  body {
    font-size: 11px;
    margin: 0px;
    padding: var(--app-sm-spacing);
  }

  .appContainer {
    padding: var(--app-sm-spacing) 0px;
  }

  .h1 {
    font-size: 1.1rem;
    width: 100%;    
  }

  h3 {
    font-size: 1.1em;
    width: 100%;
  }

  .features-card {
    width: 100%;    
    height: 180px;
    margin: var(--app-md-spacing) 0px;
  }

  .entities {
    gap: unset;
  }

  .entities-card {
    width: 100%;
    margin: var(--app-md-spacing) 0px;
  }

  .request-card {
    padding: var(--app-md-spacing);
    margin-bottom: calc(var(--app-md-spacing) * 2);
  }

  .request-card-info {
    gap: 0.5rem;
    font-size: 1em;
    padding: var(--app-md-spacing) 0px;
  }

  .request-card-url {
    overflow: unset;
    font-size: 1.05em;
    width: unset;
  }

  .request-card-url.doca {
    padding: 0px;
    font-size: 1em;    
  }

  .request-card .btn,
  .icon-box,
  .back .btn {
    padding: var(--app-sm-spacing);
  }

  .li {
    margin: var(--app-sm-spacing) 2px;
  }
}
