@media (max-width: 576.98px) {
  body {
    font-size: 12.7px;
    margin: 0px;
    padding: var(--app-sm-spacing);
  }

  .appContainer {
    padding: var(--app-sm-spacing) 0px;
  }

  .slogan {
    width: 65%;
    padding: 1rem;
    text-align: center;
  }

  .main-nav .li {
    margin: var(--app-lg-spacing) 0px;
  }

  .features-card {
    width: 100%;
    height: auto;
    margin: var(--app-md-spacing) 0px;
  }

  .features-card-text {
    font-size: 1.15em;
  }

  .entities {
    gap: unset;
  }

  .entities-card {
    width: 100%;
    margin: var(--app-md-spacing) 0px;
  }

  .request-card {
    padding: var(--app-md-spacing);
    margin-bottom: calc(var(--app-md-spacing) * 2);
  }

  .request-card-info {
    gap: 0.5rem;
    padding: var(--app-md-spacing) 0px;
  }

  .request-card-copybar,
  .request-card-copybar button {
    padding: var(--app-sm-spacing);
  }

  .icon-box,
  .back .btn {
    padding: var(--app-sm-spacing);
  }

  .section-text {
    margin: var(--app-md-spacing) 0px;
  }
}
