:root {
  --app-dark-color: #2d302d;
  --app-darken-color: #444644;
  --app-danger-color: #d84961;
  --app-warning-color: #cfbf21;
  --app-purple-color: #9216a8;
  --app-success-color: #1c963c;
  --app-light-color: #e8e2e2;
  --app-teal-color: rgb(14, 96, 100);
  --app-pink-color: #ff0095;

  --app-request-card-bg: linear-gradient(
    to right top,
    var(--app-teal-color) 65%,
    var(--app-dark-color)
  );

  --app-features-card-bg: linear-gradient(
    to right bottom,
    var(--app-dark-color) 60%,
    var(--app-darken-color)
  );

  --app-danger-card-bg: linear-gradient(
    to right top,
    var(--app-pink-color) 30%,
    var(--app-danger-color) 75%
  );

  --app-sm-spacing: 0.25rem;
  --app-md-spacing: 0.5rem;
  --app-lg-spacing: 0.75rem;
  --app-xl-spacing: 1.25rem;
  --app-xxl-spacing: 1.5rem;

  --app-entities-card-shadow: 0.5px 0.5px 3px var(--app-light-color),
    -0.5px -0.5px 3px var(--app-light-color);

  --app-features-card-shadow: 0.5px 0.5px 3px var(--app-danger-color),
    -0.5px -0.5px 3px var(--app-danger-color);
}
