/* Кнопки, ссылки и триггеры */
.btn 
	padding: $app-md-spacing
	border-radius: $app-md-spacing
	text-transform: uppercase
	font-weight: 700
	cursor: pointer
	font-size: 1.2em
	transition: 0.15s all linear
	display: flex

	&.btn-success 
		background-color: $app-success-color
		color: $app-light-color

	&.btn-danger 
		background-color: $app-danger-color
		color: $app-light-color	

	&.btn-light 
		background-color: $app-light-color
		color: $app-dark-color

	&.btn-purple 
		background-color: $app-purple-color
		color: $app-light-color

	&.btn-warning 
		background-color: $app-warning-color
		color: $app-light-color

	&.btn-dark 
		background-color: $app-dark-color
		color: $app-light-color

	&.btn-teal 
		background-color: $app-teal-color
		color: $app-light-color

	&.btn-pink 
		background-color: $app-pink-color
		color: $app-light-color

	&.btn-entity 
		background: $app-features-card-bg
		box-shadow: $app-features-card-shadow
		color: $app-light-color		
		padding: $app-lg-spacing				
		width: 100%
		flex-wrap: wrap
		align-items: center

		&:hover 
			background: none
			color: $app-success-color


@each $key, $color in $colors 
	.btn-outline-#{$key}
		@extend .btn
		border: 2px solid 
		color: $color	