.appContainer 
	margin: 0 auto
	padding: $app-md-spacing
	overflow: hidden
	width: 80%

.h1
	width: 100%
	margin: $app-lg-spacing 0px
	font-size: 1.8em

.h1.docs 
	text-align: center	

	
.h2
	width: 100%
	margin: $app-xl-spacing 0px	$app-lg-spacing 0px
	

.code 
	margin-top: $app-md-spacing
	display: block
	font-size: 1.1em
	background: $app-dark-color	
	border-radius: $app-md-spacing $app-md-spacing 0px 0px
	position: relative
	max-height: 0px
	overflow: hidden
	transition: 0.2s max-height linear
	

/* элементы списков приложения */

.li 
	margin: $app-lg-spacing
	cursor: pointer
	user-select: none
	font-family: "FiraCode"	
	font-size: 1.2em
	word-break: break-all
	letter-spacing: 0.7px

	a
		width: 100%
		display: inline-block	

		&:hover 
			color: $app-warning-color
			transform: scale(1.01)

/* параграфы секций */

.section-text   
	font-weight: 400
	line-height: 140%	
	margin: $app-md-spacing

/* Информационные секции на странице docs.html */

.app-section 
	margin-bottom: 3.5rem	


/* контейнер для иконок */

.icon-box 
	padding: $app-md-spacing
	display: flex
	color: $app-warning-color
	border-radius: $app-sm-spacing
	background: $app-features-card-bg  
	width: max-content


.burger 
	display: none

.burger .material-icons-round 
	font-size: 2rem


/* Секция кнопки назад */

.back

	margin: $app-md-spacing 0px $app-xl-spacing 0px
	
	a 
		width: max-content

		&:hover 			
			transform: scale(1.02)
			color: $app-success-color

	.material-icons-round 
		font-size: 2rem				


.white-list 
	padding: 0px $app-sm-spacing
	display: flex
	align-items: center
	flex-wrap: wrap	
	gap: $app-md-spacing		

	.btn
		font-size: inherit
		color: $app-light-color
		border: 1px dotted $app-light-color		
		text-transform: none
		letter-spacing: 1px
		border-radius: $app-sm-spacing

/* Кнопка Вверх */		

.upwardBtn
	opacity: 0
	position: fixed
	bottom: 1%
	right: 1%
	z-index: -1
	border-radius: 50%
	width: 45px
	height: 45px
	display: flex
	align-items: center
	justify-content: center
	cursor: pointer
	box-shadow: $app-light-card-shadow
	transition: 0.25s all ease-out

	.material-icons-round 
		font-size: 2rem

	&.active
		opacity: 1
		z-index: 3

// Примечание

.note
	opacity: 0.87
	font-size: 0.95em	
	margin: $app-md-spacing 0px


.tooltip
	position: absolute
	background: $app-features-card-bg
	padding: $app-sm-spacing
	border-radius: $app-md-spacing 0px
	color: $app-danger-color
	font-weight: 500
	font-variant: small-caps
	left: 0px
	top: 0px
	transform: translateY(-100%)
	opacity: 0
	transition: 0.25s all linear
	box-shadow: $app-light-card-shadow

	&.active
		opacity: 1	
	