.appContainer 
	margin: 0 auto
	padding: $app-md-spacing
	overflow: hidden

.h1
	width: 100%
	
.h2
	width: 100%
	margin: $app-md-spacing 0px		

.code 
	margin-top: $app-md-spacing
	display: block
	font-size: 1.1em
	background: $app-dark-color	
	border-radius: $app-md-spacing $app-md-spacing 0px 0px
	position: relative
	max-height: 0px
	overflow: hidden
	transition: 0.2s max-height linear
	

/* элементы списков приложения */

.li 
	margin: $app-lg-spacing
	cursor: pointer
	user-select: none
	font-family: "FiraCode"
	overflow-wrap: anywhere
	font-size: 1.2em
	word-break: break-all
	letter-spacing: 0.7px	

	a
		&:hover 
			color: $app-warning-color
			transform: scale(1.01)

		&:visited
			color: $app-success-color	


/* параграфы секций */

.section-text   
	font-weight: 400
	line-height: 140%
	text-indent: $app-sm-spacing
	margin: $app-md-spacing 0px

/* Информационные секции на странице docs.html */

.app-section 
	margin-bottom: 1.75rem


/* контейнер для иконок */

.icon-box 
	padding: $app-md-spacing
	color: $app-warning-color
	border-radius: $app-sm-spacing
	background: $app-features-card-bg  
	width: max-content


.burger 
	display: none

.burger .material-icons-round 
	font-size: 2rem

/* секции addEntity, deleteEntity c описанием POST,DELETE запросов */

#addEntity,
#deleteEntity
	p
		&:first-of-type
			 	 
			border: 2px dotted $app-success-color
			padding: $app-md-spacing
			border-radius: $app-sm-spacing			
			text-indent: $app-sm-spacing
			margin: $app-md-spacing 0px			



/* Секция кнопки назад */

.back 
	padding: 0px $app-lg-spacing	

	a 
		width: max-content

		&:hover 			
			transform: scale(1.02)
			color: $app-success-color


.white-list 
	padding: 0px $app-sm-spacing
	display: flex
	align-items: center
	flex-wrap: wrap
	gap: $app-sm-spacing		

	.btn
		font-size: inherit
		color: $app-light-color
		border: 1px dotted $app-danger-color		
		text-transform: none
		letter-spacing: 1px




