.appContainer 
	margin: 0 auto
	padding: $app-md-spacing
	overflow: hidden

.code 
	margin-top: $app-md-spacing
	display: block
	font-size: 1.1em
	background: $app-dark-color	
	border-radius: $app-md-spacing $app-md-spacing 0px 0px
	position: relative
	max-height: 0px
	overflow: hidden
	transition: 0.2s max-height linear
	

/* элементы списков приложения */

.li 
	margin: $app-lg-spacing
	cursor: pointer
	user-select: none
	font-family: "FiraCode"
	overflow-wrap: anywhere


.li 
	a
		&:hover 
			color: $app-success-color
			transform: scale(1.01)


/* параграфы секций */

.section-text   
	font-weight: 400
	line-height: 140%
	text-align: justify    


/* Информационные секции на странице docs.html */

.app-section 
	margin-bottom: 1.75rem


/* контейнер для иконок */

.icon-box 
	padding: $app-md-spacing
	color: $app-warning-color
	border-radius: $app-sm-spacing
	background: $app-features-card-bg  
	width: max-content


.burger 
	display: none

.burger .material-icons-round 
	font-size: 2rem

/* секции addEntity, deleteEntity c описанием POST,DELETE запросов */

#addEntity,
#deleteEntity 
	p 
		border: 2px dotted $app-success-color
		padding: $app-md-spacing
		border-radius: $app-sm-spacing
		text-align: justify		
		text-indent: $app-sm-spacing

#deleteEntity p:last-of-type, #addEntity p:last-of-type 
	border: none
	margin: 0px
	padding: $app-md-spacing 0px


/* Секция кнопки назад */

.back 
	padding: 0px $app-lg-spacing	

	.material-icons-round
		font-size: 2rem 

	a 
		width: max-content

		&:hover 
			width: max-content
			transform: scale(1.02)
			color: $app-success-color


.white-list 
	padding: 0px $app-sm-spacing




