.h1 
	font-size: 2.25rem
	text-align: left
	margin: $app-xl-spacing 0px

.h1.docs 
	text-align: center

.slogan 
	margin: 0px
	color: $app-warning-color  
	position: relative
	top: -0.5rem
	text-align: right
	font-style: italic
	font-weight: 300
	top: -0.85rem	

	p
		&::before 
			content: "\201C"

		&::after 
			content: "\201D"

