.entities 
	display: flex
	justify-content: center	
	flex-wrap: wrap
	border: none	

	&-card   		
		border-radius: $app-md-spacing
		text-align: center
		letter-spacing: 1.5px
		cursor: pointer
		width: 31%
		margin: calc((100% - 93%) / 6)
		
		.material-icons-round
			margin-right: $app-md-spacing
			color: $app-warning-color
			font-size: 1.5em

		&-url 
			width: 100%
			text-align: left
			margin: $app-md-spacing 0px 0px
			text-transform: lowercase
			font-family: 'FiraCode'
			font-size: 0.8em

