@for $i from 1 through 8 
	.features-card:nth-of-type(#{$i}) 
		transform: translateX(-$app-card-offset * 1)
	
.features 
	display: flex
	justify-content: center 
	flex-wrap: wrap
	border: none

	&-card 
		width: 31%
		padding: $app-lg-spacing
		border-radius: $app-md-spacing		
		display: flex
		flex-direction: column
		justify-content: flex-start
		position: relative
		transition: all 0.25s linear
		height: 275px
		margin: calc(7% / 6)
		background: $app-features-card-bg
		box-shadow: $app-features-card-shadow
		opacity: 0

		&.active
			opacity: 1
			transform: translateX(0%)

		&:hover 
			transform: translateY(-0.5rem)



		&-hr 
			height: 3px
			width: 50%
			border: none
			background-color: $app-light-color
			border-radius: $app-sm-spacing			
			opacity: .07

		&-text 
			margin: $app-md-spacing 0px
			font-size: 1.1em			


		&-icon span 
			font-size: 1.25em

		.material-icons-round 
			font-size: 2rem		
		
		
			

