.footer 
	display: flex
	align-items: center	
	background: $app-features-card-bg
	padding: $app-lg-spacing
	border-radius: $app-md-spacing  $app-md-spacing  0px  0px 
	position: relative	
	font-size: 1.05em	
	column-gap: $app-xl-spacing
	position: relative
	z-index: 5
	box-shadow: $app-light-card-shadow
	
	address
		align-items: center
		display: flex
		column-gap: $app-sm-spacing
	

	.material-icons-round 
		font-size: 2em
		color: $app-warning-color

	

	


		
		