.footer 	
	padding: $app-lg-spacing
	border-radius: $app-md-spacing  $app-md-spacing  0px  0px 
	position: relative	
	font-size: 0.95em	
	position: relative
	z-index: 1
	background: $app-features-card-bg
	color: $app-white-color
	font-weight: 300
	line-height: 150%	

	&-link
		display: flex
		align-items: center
		column-gap: $app-md-spacing
		width: max-content

		&:hover
			color: $app-warning-color

		&-tasks
			padding: $app-md-spacing
			flex-basis: content
			
			strong
				font-variant: small-caps				

				&::after
					content: ''
					height: 1px
					display: block
					width: 100%
					background: $app-white-color
					opacity: .07 				
	
	address
		align-items: center
		display: flex
		column-gap: $app-sm-spacing
	

	.material-icons-round 
		font-size: 1.5em
		color: $app-warning-color

	

	


		
		