.header 
	display: flex
	align-items: center
	justify-content: space-between
	margin: 0px auto
	background: $app-features-card-bg
	padding: $app-md-spacing
	border-radius: $app-md-spacing
	position: relative
	width: 80%  
	margin-bottom: 1.5rem

	&-logo 
		padding: $app-sm-spacing
		display: flex
		font-size: 1.5em
		align-items: center
		gap: $app-md-spacing
		color: $app-danger-color
		letter-spacing: 0.125rem
		font-weight: 700
		cursor: pointer

		.material-icons-round 
			font-size: 2rem

	&-menu 
		display: flex
		list-style-type: none
		margin: 0px

		li
			text-transform: uppercase
			font-family: inherit
			letter-spacing: 1px

.menu-link.active 
	font-weight: 700
	color: $app-danger-color		
		

		
		

				



		

