@media (max-width: 991.98px) 
	body 
		font-size: 14px	

	.back 
		padding: var(--app-md-spacing) 0px 

	.burger 
		display: flex	

	nav 
		position: absolute
		top: 0%
		right: 0px
		background: $app-features-card-bg   
		z-index: -1
		opacity: 0
		transition: all 0.3s ease-out  
		padding: $app-xl-spacing 
		border-radius: 0px $app-md-spacing $app-md-spacing 0px

		&.active 
			opacity: 1
			z-index: 1 	

	.header-menu 
		flex-direction: column
		padding: $app-md-spacing	

	.header-menu
		padding: 0px 
		
		.li						
				
			&::after
				content: ''
				height: 2px
				width: 100%
				background-color: $app-light-color
				display: block
				margin-top: $app-sm-spacing
				opacity: 0.07
				border-radius: 2px					

	.app-section 
		padding: 0px $app-sm-spacing
	

	.features-card 
		width: 47%
		margin: calc(6% / 4)
		height: 250px		

	.entities 
		gap: unset	

		&-card 
			width: 47%			
			padding: 0px
			justify-self: center

	.request-card 
		
		.material-symbols-outlined 
			font-size: 1.25rem	

		.trggr, .icon-box 
			padding: $app-md-spacing


	
	

