@media (max-width: 576.98px) 
	body 
		font-size: 12.7px
		margin: 0px
		padding: $app-sm-spacing

	.appContainer 
		padding: $app-sm-spacing 0px

	.slogan
		width: 65%
		padding: 1rem
		text-align: center

	.main-nav
		
		.li
			margin: $app-lg-spacing 0px						

	.features-card 
		width: 100%		
		height: auto
		margin: $app-md-spacing 0px

		&-text
			font-size: 1.15em
		

	.entities 
		gap: unset	

	.entities-card 
		width: 100%
		margin: $app-md-spacing 0px	

	.request-card 
		padding: $app-md-spacing
		margin-bottom: calc($app-md-spacing * 2)
			

		&-info 
			gap: 0.5rem			
			padding: $app-md-spacing 0px	

		&-copybar
			padding: $app-sm-spacing

			button
				padding: $app-sm-spacing	


	.icon-box, .back .btn 
		padding: $app-sm-spacing	

	.section-text
		margin: $app-md-spacing 0px
		




	
	

