@media (max-width: 576.98px) 
	body 
		font-size: 12.7px
		margin: 0px
		padding: $app-sm-spacing

	.li
		margin: $app-lg-spacing 0px			

	.appContainer 
		padding: $app-sm-spacing 0px	

	.h1 
		font-size: 1.1rem
			

	.features-card 
		width: 100%		
		height: 220px
		margin: $app-md-spacing 0px	

	.entities 
		gap: unset	

	.entities-card 
		width: 100%
		margin: $app-md-spacing 0px	

	.request-card 
		padding: $app-md-spacing
		margin-bottom: calc($app-md-spacing * 2)	

		&-info 
			gap: 0.5rem			
			padding: $app-md-spacing 0px	

		&-copybar
			padding: $app-sm-spacing

			button
				padding: $app-sm-spacing	


	.icon-box, .back .btn 
		padding: $app-sm-spacing	

	ol, ul
		list-style-type: none

		




	
	

